.TOP {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 2em;
}

.titleContainer{
  border-radius: 1em;
  width: max-content;
  padding: 0.5em;
 background-image: linear-gradient(315deg, #ee0979 0%, #ff6a00 74%);
 color: white;
}

.title {
  font-size: 1.3rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.desc {
  font-size: 1.2rem;
}

.duration {
  font-size: 1.3rem;
}

@media (max-weight: 768px) {
  .title {
    font-size: 0.3rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .desc {
    font-size: 0.8rem;
  }
  .duration {
    font-size: 0.8rem;
  }
}
